body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    margin: 0%;
}

/* header section */

.banner-img {
    background-image: linear-gradient(to bottom, rgba(7, 1, 17, 0.89), rgba(136, 136, 136, 0.103)), url('../images/pic.png');
    background-repeat: no-repeat;
    width: 1300px;
    height: 600px;
    border-radius: 18px;
    /* margin: 4% 9%; */
    margin: auto;
    margin-top: 4%;



}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    padding-top: 12%;
}

.banner-heading {
    font-size: 73px;

    margin-top: -1%;


}

.banner-text {
    /* margin-top: 5%; */
    font-size: 33px;
}

/* 
new year offer */


.offer-content {
    /* border: solid black; */
    text-align: center;
    margin: 6%;
}

.new-year-offer {
    width: 802px;
    height: 500px;
}

.offer-h1-title {
    font-family: "Inter", sans-serif;
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
}

.offer-p-title {
    font-family: "Inter", sans-serif;
    color: #FF0000;
    font-size: 20px;
    font-weight: medium;
    margin-top: -3%;
}

.new-offer-catagories {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 42px;
    font-weight: bold;
    margin-top: -1%;
}

/* wlcome party */
.bg-img {
    background-image: linear-gradient(to right, rgba(7, 0, 16, 0.89), rgba(116, 114, 114, 0.103)), url('../images/Vectorrr.png');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: right;
    width: 1320px;
    height: 600px;
    /* margin: 8% 9%; */
    display: flex;
    margin: auto;
}

.year-2024 {
    width: 319px;
    height: 464px;
    margin-top: 5%;
    margin-left: 4%;




}

.welcome-banner-heading {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
}

.welcome-p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #efe0e0;
    margin-top: -3%;
}

.join-now {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fcf5f5;
    padding: 2% 0% 0% 2%;

}


.welcome-content {
    margin: 0% 10%;
    padding-top: 8%;
}

/* info contemt */
.info-content {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 25px;
    background-image: linear-gradient(to bottom, rgba(223, 198, 211, 0.89), rgba(245, 233, 233, 0.103));
    border-radius: 13px;
    margin: auto;
    width: 1320px;
    height: 482px;
    margin-top: 7%;

}

.red {
    color: #FF0000;

}

.join-now-btn {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 15px 26px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    margin-top: 2%;
}

.plac-content {
    padding-top: 7%;
}

/* comming soon */
.comming-soon-content {

    margin: auto;

    width: 1320px;
    height: 463px;
    margin-top: 6%;
}

.all-best {

    display: flex;

    /* gap: 3%; */
    justify-content: space-around;
    align-items: center
}

.img-com {

    width: 364px;
    height: 364px;
    border: 20px solid red;

    border-radius: 50%;
    /* margin: auto; */
    margin-left: -25%;
}

.new {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    align-items: center;

}



.Merriweather {
    font-size: 48px;
    margin-top: -3%;
}

.inner {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;

}

.p-content {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    color: #504f52;
    margin-top: -7%;
}

.p-contents {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #2c2636;
    margin-top: -10%;
}

.comming-title {
    justify-content: space-around;
    align-items: center;
}

.img-g-96 {
    width: 125px;
    height: 140px;
    margin-top: 5%;
}

.title-2024 {
    margin-top: 5%;
    margin-left: -15%;
}

/* what-content */
.what-content {
    margin: auto;
    width: 1320px;
    height: 940px;
    margin-top: 5%;

}



.doll-img {
    background-image: url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    /* / */
    width: 429px;
    height: 433px;
    margin-left: 67.58%;
    margin-top: -50.18%;
    border-bottom: 1px solid red;

}

.what-fun {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.what-title {
    font-size: 62px;
    font-weight: 900;
    margin-top: -1%;
}

.p-what {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: -2%;
}

.red-img {
    background-image: url('../images/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 1320px;
    height: 229px;
    margin-top: 36.45%;
}

.discount {
    width: 220px;
    height: 220px;
    margin-top: 24%;
    margin-left: -100%;
}

.text-title {
    text-align: center;
}

.img-box {
    width: 664px;
    height: 577px;
    margin-top: -28%;
    margin-right: 38%;

}

/* gifts section */
.portfolio-content {
    margin: auto;

    /* justify-content: center; */
    width: 1320px;
    height: 1163px;
    margin-top: 4%;

}

.best-gift {
    font-family: "Inter", sans-serif;
    ;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.Awesome-Portfolio {
    font-size: 48px;
    font-weight: 900;
    margin-top: -1%;
}

.dolor-p {
    font-family: "Inter", sans-serif;
    ;
    color: #616063;
    font-weight: 400;
    font-size: 20px;
    margin-top: -1.25%;
}

.gift-content {
    margin-left: 1%;
}

.img-gallary {
    margin-top: 3%;

}

.re-345 {
    display: flex;
    gap: 1%;
    justify-content: center;
}

.re-678 {
    margin-top: 1%;
    display: flex;
    gap: 1%;
    justify-content: center;
}

.re-3 {
    width: 424px;
    height: 450px;
}

/* newslatter */
.newslater-content {
    width: 1320px;
    height: 616px;

    margin: auto;
    background-color: #f5eaea;
    /* background-color: rgb(250, 232, 235); */
    text-align: center;
    margin-top: 4%;
}

.Subscribe-title {
    padding-top: 7.5%;
}

.sub-text {
    font-size: 48px;
    font-weight: 900;
}

.sub-p {
    font-size: 20px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    ;
    color: black;
    margin-top: -2%;
}

.email-here {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    ;
    font-weight: 400;
    border-radius: 20px 0px 0px 20px;
    padding: 11px 28px 15px;
    border: #fcf5f5;

    color: #070211;
    margin-top: 2%;

}

.subscribe-btn {
    border-radius: 0px 25px 25px 0px;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 16px 30px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    ;
    font-weight: 600;
    border: #FF0000;
}

/* footer */
.ft-cnt {
    width: auto;
    height: 500px;
    background-color: #070211;
    margin-top: 6%;
}

.mediums {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    ;
    font-weight: 300;
    color: #fcf5f5;
}

#website {
    margin-top: -10%;
}

.calls {
    display: flex;
    gap: 7%;
}

.call-img {
    width: 24px;
    height: 24px;
    margin-top: 10%;
}

.website-img {
    width: 24px;
    height: 24px;
    margin-top: -8%;
}

.ft-text {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

.fb-in-li {

    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.last-ft-text {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: -3%;
}