body {
    font-family: "Merriweather", serif;
    font-weight: 400;
}

/* header section */

.banner-img {
    background-image: linear-gradient(to bottom, rgba(7, 1, 17, 0.89), rgba(136, 136, 136, 0.103)), url('../images/pic.png');
    background-repeat: no-repeat;
    width: 1300px;
    height: 600px;
    border-radius: 18px;
    margin: 4% 9%;



}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    padding-top: 13%;
}

.banner-heading {
    font-size: 70px;
    /* font-weight: 10px; */
    margin-top: -1%;

}

.banner-text {
    /* margin-top: 5%; */
    font-size: 30px;
}